<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action ="#" th:action="@{/process}" th:object="${message}" method="post">
    Content: <input type="text" th:field="*{content}" />
    <span th:if="${#fields.hasErrors('content')}"
          th:errors="*{content}"></span><br />

    PostDate <input type="text" th:field="*{postDate}" />
    <span th:if="${#fields.hasErrors('postDate')}"
          th:errors="*{postDate}"></span><br />


    SentBy <input type="text" th:field="*{sentBy}" />
    <span th:if="${#fields.hasErrors('sentBy')}"
          th:errors="*{sentBy}"></span><br />

    <input type="submit" value ="Submit" />

</form>
</body>
</html>